.nav {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    height: var(--navbar-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .logo {
        padding: 10px;
        height: 75px;
    }
}
